@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
.toplist-variation-03 .app-tbl-flex .app-tbl, .toplist-variation-03 .app-tbl-flex .tbl-row, .toplist-variation-03 .app-tbl-flex .tbl-content, .toplist-variation-03 .canisos-sorting-section .filter-btns, .toplist-variation-03 .canisos-sorting-section .casino-card, .toplist-variation-03 .canisos-sorting-section .casino-card .sr-no, .toplist-variation-03 .canisos-sorting-section .casino-card .logo-box, .toplist-variation-03 .canisos-sorting-section .casino-card .casino-title, .toplist-variation-03 .canisos-sorting-section .casino-card .review-link, .toplist-variation-03 .canisos-sorting-section .casino-card .action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toplist-variation-03 .app-tbl-flex .tbl-row .tbl-cell, .toplist-variation-03 .canisos-sorting-section .casino-card .casino-title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -ms-flex: 1;
  flex: 1;
}

.toplist-variation-03 {
  font-family: "Montserrat", sans-serif;
}

.toplist-variation-03 a {
  text-decoration: none;
}

.toplist-variation-03 a:hover {
  text-decoration: underline;
}

.toplist-variation-03 p {
  font-size: 18px;
  color: #212529;
}

.toplist-variation-03 .btn.btn-clear {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0px;
  outline: none;
  box-shadow: none;
  background-image: none;
  text-decoration: none;
  background-color: transparent;
}

.toplist-variation-03 .app-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.toplist-variation-03 .main-title {
  font-size: 28px;
  color: #212529;
  margin-bottom: 4px;
  font-weight: 500;
}

.toplist-variation-03 .sub-title {
  font-size: 24px;
  font-weight: 500;
  color: #212529;
}

.toplist-variation-03 .text-expColp-section .btn.exp-col-btn {
  font-size: 12px;
  color: #212529;
}

.toplist-variation-03 .text-expColp-section .btn.exp-col-btn:before {
  content: "COLLAPSE";
}

.toplist-variation-03 .text-expColp-section .btn.exp-col-btn:hover, .toplist-variation-03 .text-expColp-section .btn.exp-col-btn:focus, .toplist-variation-03 .text-expColp-section .btn.exp-col-btn:active {
  color: #212529;
}

.toplist-variation-03 .text-expColp-section .btn.exp-col-btn i {
  color: #212529;
  font-size: 14px;
  vertical-align: top;
  margin-left: 3px;
}

.toplist-variation-03 .text-expColp-section.text-sec-hidden .text-wrapper {
  display: none;
}

.toplist-variation-03 .text-expColp-section.text-sec-hidden .btn.exp-col-btn:before {
  content: "EXPAND";
}

.toplist-variation-03 .text-expColp-section.text-sec-hidden .btn.exp-col-btn i:before {
  content: "\f078";
}

.toplist-variation-03 .app-tbl-flex {
  margin-bottom: 40px;
}

.toplist-variation-03 .app-tbl-flex .app-tbl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toplist-variation-03 .app-tbl-flex .tbl-row .tbl-cell {
  text-align: center;
  line-height: normal;
}

.toplist-variation-03 .app-tbl-flex .tbl-cell {
  padding: 13px 5px;
  min-height: 42px;
  border-collapse: collapse;
}

.toplist-variation-03 .app-tbl-flex .tbl-cell a {
  color: #212529;
  text-decoration: underline;
}

.toplist-variation-03 .app-tbl-flex .tbl-cell a:hover {
  text-decoration: none;
}

.toplist-variation-03 .app-tbl-flex .head-cell {
  font-size: 12px;
  background-color: #d8dbdd;
  color: #6c757d;
  font-weight: 700;
  border-collapse: collapse;
  border-bottom: 1px solid #d8dbdd;
}

.toplist-variation-03 .app-tbl-flex .cont-cell {
  font-size: 18px;
  border-bottom: 1px solid #d8dbdd;
}

.toplist-variation-03 .app-tbl-flex .tbl-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.toplist-variation-03 .canisos-sorting-section {
  padding-top: 20px;
}

.toplist-variation-03 .canisos-sorting-section .filter-btns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toplist-variation-03 .canisos-sorting-section .filter-btns span {
  font-size: 16px;
  color: #212529;
  margin-right: 10px;
}

.toplist-variation-03 .canisos-sorting-section .filter-btns .btn-group .btn {
  height: 38px;
  line-height: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 100;
  border-radius: 19px;
  background-color: transparent;
  border: 1px solid #212529;
  color: #212529;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.toplist-variation-03 .canisos-sorting-section .filter-btns .btn-group .btn:hover, .toplist-variation-03 .canisos-sorting-section .filter-btns .btn-group .btn.active {
  background-color: #212529;
  color: #ffffff;
}

.toplist-variation-03 .canisos-sorting-section .casino-card {
  background-color: #e6e7e9;
  min-height: 132px;
  margin-bottom: 10px;
  position: relative;
}

.toplist-variation-03 .canisos-sorting-section .casino-card:hover {
  background-color: #d8dbdd;
}

.toplist-variation-03 .canisos-sorting-section .casino-card span.tc-text {
  position: absolute;
  left: 60px;
  bottom: 5px;
  font-size: 9px;
  color: #6c757d;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .sr-no, .toplist-variation-03 .canisos-sorting-section .casino-card .logo-box, .toplist-variation-03 .canisos-sorting-section .casino-card .casino-title, .toplist-variation-03 .canisos-sorting-section .casino-card .review-link, .toplist-variation-03 .canisos-sorting-section .casino-card .action-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .sr-no {
  width: 45px;
  font-size: 20px;
  color: #212529;
  font-weight: 500;
  background-color: #d8dbdd;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .logo-box {
  width: 178px;
  position: relative;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .casino-title {
  font-size: 20px;
  font-weight: 500;
  color: #212529;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 45px;
  padding-right: 15px;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .casino-title p {
  margin-bottom: 0px;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .casino-title span {
  color: #0d6efd;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .review-link {
  width: 137px;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .review-link a {
  font-size: 12px;
  color: #0d6efd;
  font-weight: 500;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .review-link a i {
  margin-left: 15px;
  font-size: 20px;
  vertical-align: middle;
}

.toplist-variation-03 .canisos-sorting-section .casino-card .action-btn {
  width: 290px;
  padding-right: 15px;
}

@media (max-width: 991px) {
  .toplist-variation-03 .canisos-sorting-section .casino-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .toplist-variation-03 .canisos-sorting-section .casino-card .sr-no {
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 6px 10px;
  }
  .toplist-variation-03 .canisos-sorting-section .casino-card .review-link {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .toplist-variation-03 .canisos-sorting-section .casino-card .review-link a i {
    margin-left: 5px;
    font-size: 20px;
    vertical-align: middle;
  }
  .toplist-variation-03 .canisos-sorting-section .casino-card span.tc-text {
    left: 12px;
  }
}

@media (max-width: 767px) {
  .toplist-variation-03 .canisos-sorting-section .casino-card .action-btn {
    min-width: 100%;
    padding: 0px 10px 34px;
  }
  .toplist-variation-03 .canisos-sorting-section .casino-card .casino-title {
    padding-left: 15px;
  }
  .toplist-variation-03 .canisos-sorting-section .casino-card .casino-title p {
    font-size: 15px;
  }
  .toplist-variation-03 .app-tbl-flex .app-tbl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .toplist-variation-03 .app-tbl-flex .tbl-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .toplist-variation-03 .app-tbl-flex .tbl-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .toplist-variation-03 .app-tbl-flex .tbl-row .head-cell {
    width: auto;
  }
  .toplist-variation-03 .app-tbl-flex .tbl-row .tbl-cell {
    padding: 13px 8px;
    white-space: nowrap;
    font-size: 11px;
    text-align: center;
    width: auto;
  }
  .toplist-variation-03 .app-tbl-flex .tbl-row .tbl-cell:first-child {
    border-left: none;
  }
  .toplist-variation-03 .app-tbl-flex .tbl-row:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
  }
  .toplist-variation-03 .app-tbl-flex .header-row {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
  }
}

@media (max-width: 575px) {
  .toplist-variation-03 .canisos-sorting-section .casino-card .logo-box, .toplist-variation-03 .canisos-sorting-section .casino-card .casino-title {
    min-width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=toplist-variation-03.css.map */