.content-blocks-variation-01 {
  float: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  margin: 30px auto;
  max-width: 935px;
}

.content-blocks-variation-01 .review-container p.title {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.25em;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container p.title {
    font-size: 22px;
    line-height: 1em;
  }
}

.content-blocks-variation-01 .review-container p.intro {
  margin-top: 15px;
  margin-bottom: 0;
}

.content-blocks-variation-01 .review-container .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step {
  padding: 0 0 0 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container .steps .step-wrapper .step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px 0 70px;
  }
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step::before {
  content: "";
  width: 3px;
  height: 101%;
  background: #0d6efd;
  position: absolute;
  left: 39px;
  top: 35px;
  z-index: 1;
  display: block;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container .steps .step-wrapper .step::before {
    left: 30px;
  }
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step.last-step::before {
  display: none;
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid #eee;
  border-color: #e5e5e5;
  padding: 30px 0;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-num {
  background-color: #0d6efd;
  color: #ffffff;
  width: 40px;
  height: 40px;
  top: 23px;
  left: 21px;
  font-size: 17px;
  line-height: 2.35em;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  position: absolute;
  z-index: 2;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-num {
    width: 33px;
    height: 33px;
    left: 15px;
    top: 25px;
    font-size: 15px;
    line-height: 2.2em;
  }
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-heading {
  font-size: 20px;
  line-height: 1.6em;
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-heading {
    line-height: 1.4em;
  }
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-description {
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-description {
    margin-bottom: 20px;
  }
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-description a {
  text-decoration: none;
  font-weight: 700;
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-left: 50px;
  min-width: 150px;
  width: auto;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
  }
}

.content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-images .step-images-item {
  width: auto;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 .review-container .steps .step-wrapper .step .step-content-wrapper .step-images .step-images-item {
    width: 50%;
    text-align: left;
  }
}

.content-blocks-variation-01 .review-container .steps .step-wrapper:first-child .step-content-wrapper {
  border-top: none;
}

.content-blocks-variation-01 .review-container .steps .step-wrapper:nth-last-child(2) .step::before {
  display: none;
}

.content-blocks-variation-01 .review-container .steps .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.content-blocks-variation-01 img {
  max-width: 100%;
  height: auto;
}

.content-blocks-variation-01 p {
  color: #212529;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 1.6em;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-01 p {
    font-size: 13px;
    line-height: 1.7em;
  }
}

.content-blocks-variation-01 p:last-of-type {
  margin-bottom: 0;
}
