@charset "UTF-8";
.content-blocks-variation-08 {
  float: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  width: 100%;
  margin: 30px auto;
  max-width: 795px;
  font-size: 16px;
  line-height: 1em;
}

.content-blocks-variation-08 .content-blocks-container {
  background-color: #e5e5e5;
  background-clip: content-box;
  padding: 0 15px;
}

.content-blocks-variation-08 .content-blocks-container .text-block {
  background-color: #ffffff;
  padding: 30px 0 17px 0;
}

.content-blocks-variation-08 .content-blocks-container .text-block p.title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1em;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .text-block p.title {
    font-size: 20px;
    line-height: 1.2em;
  }
}

.content-blocks-variation-08 .content-blocks-container .header {
  background-color: #0dcaf0;
  padding: 30px 20px 44px;
  position: relative;
  color: #ffffff;
}

.content-blocks-variation-08 .content-blocks-container .header .heading {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1em;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .header .heading {
    font-size: 20px;
    line-height: 1.2em;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container {
  position: relative;
  background-color: #e5e5e5;
  padding: 15px;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .first-element {
  margin-top: -54px;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .first-element .inner-header {
  background-color: #0d6efd;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
  border: 0;
  list-style: none;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .first-element .inner-header {
    border: 1px solid #eee;
    border-bottom-width: 0;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .first-element .inner-header .compared-item {
  padding: 20px 15px;
  margin: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  cursor: auto;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .first-element .inner-header .compared-item {
    font-size: 16px;
    cursor: pointer;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .first-element .inner-header .compared-item.active {
  color: #ffffff;
  background-color: #0d6efd;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .first-element .inner-header .compared-item.active {
    background-color: #ffffff;
    color: #0d6efd;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .first-element .inner-header:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 700;
  color: #ffc107;
  content: "vs";
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .first-element .inner-header:after {
    content: none;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table {
  border: 1px solid #eee;
  border-top-width: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0 0 6px 6px;
  padding: 0;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column .table-element {
  position: relative;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 15px 50px;
  min-height: 102px;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column .table-element[data-compare]:before {
  position: absolute;
  width: 30px;
  font-family: "FontAwesome";
  font-size: 20px;
  color: #198754;
  left: 22px;
  top: 15px;
  content: "\f00c";
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column .table-element[data-compare=miss]:before {
  content: "\f00d";
  color: #dc3545;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column .table-element p {
  margin: 0;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column:last-child {
  border-left: 1px solid #eee;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column:last-child {
    border-left: none;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column.tab-pane {
  display: block;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column.tab-pane {
    display: none;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .versus-table .table-column.tab-pane.active {
  display: block;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .yellow-block {
  position: relative;
  padding: 18px 15px;
  background-color: #ffc107;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: -3px;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .yellow-block p {
  margin-bottom: 0;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .yellow-block p span {
  font-weight: 700;
  font-size: 18px;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict {
  padding: 30px 0 15px;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-title {
  font-size: 18px;
  margin-bottom: 7px;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-title {
    font-size: 16px;
    margin-bottom: 3px;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card {
  background-color: #ffffff;
  border: 1px solid #eee;
  padding: 19px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    padding: 19px 12px;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  text-align: center;
  padding-left: 0;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col:first-child {
    padding-left: 40px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col:last-child {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col:last-child {
    margin-bottom: 12px;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .verdict-img {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 6px;
  width: 65px;
  min-width: 65px;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .verdict-img {
    margin-right: 10px;
    width: 46px;
    min-width: 46px;
  }
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .content p {
    text-align: start;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .content .content-name {
  font-size: 16px;
  color: #0d6efd;
  font-weight: 700;
  margin-bottom: 2px;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .quote {
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .quote {
    padding-left: 40px;
  }
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .quote p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.18em;
}

.content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .quote:after {
  content: "“";
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 89.7px;
  line-height: 1em;
  color: #e5e5e5;
}

@media only screen and (max-width: 480px) {
  .content-blocks-variation-08 .content-blocks-container .versus-container .expert-verdict .verdict-card .verdict-col .quote:after {
    font-size: 80.6px;
  }
}

.content-blocks-variation-08 img {
  max-width: 100%;
  height: auto;
}

.content-blocks-variation-08 p {
  margin: 0 0 13px;
  font-size: 13px;
  line-height: 1.46em;
}
