
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import "sass-styling-vars";

%d-flex{
  display: -webkit-box;     
  display: -moz-box;        
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex; 
}
%flex-1{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -webkit-flex: 1; 
  -ms-flex: 1;
  flex: 1;
}

.games-slider-variation-01 {
    font-family: $font-family-default;
    a{
        text-decoration: none;
    }
    p{
        font-size: $font-size-h4;
        color: $theme-white;
        line-height: 24px;
        margin-bottom: 15px;
    }
    img{
        max-width: 100%;
    }
    .app-container{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .main-title{
        font-size: $font-size-xl;
        color: $theme-dark;
        margin-bottom: 34px;
        font-weight: $font-weight-heavy;
    }
    .games-slider-wrapper{
        padding: 30px 0;   
        position: relative;
        &:hover{
            .owl-nav button{
                opacity: 1;
            }
        }
        .owl-nav button{
            position: absolute;
            top: 20px;
            padding: 15px;
            background-color: lighten($theme-success, 20%) ;
            color: $theme-white;
            margin: 0px;
            outline: none;
            opacity: 0;
            span{
                display: block;
                height: 45px;
                width: 45px;
                padding: 0;
                text-align: center;
                line-height: 36px;
                font-size: $font-size-h5 * 3;
            }
            &.owl-prev{
                left: 20px;
            }
            &.owl-next{
                right: 20px;
            }
        }
        .owl-dots{
            position: absolute;
            left: 12px;
            bottom: 12px;
            @extend %d-flex;
            // flex-direction: row-reverse;
            .owl-dot{
                span{
                    height: 20px;
                    width: 20px;
                    background-color: $theme-white;
                }
                &.active{
                    span{
                        background-color: lighten($theme-success, 20%);
                    }
                }
            } 
        }     
    }
    .games-info-box{
        background-color: $theme-dark;
        position: relative;
        direction: ltr;
        .slider-img{
            width: auto;
        }
        .text-info{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 435px;
            padding: 20px 12px 60px;
            min-height: 100%;
            background: rgb(2,0,36);
            background: -moz-linear-gradient(90deg, rgba(2,0,36,0.8071603641456583) 0%, rgba(0,0,5,1) 41%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.8071603641456583) 0%, rgba(0,0,5,1) 41%, rgba(0,0,0,1) 100%);
            background: linear-gradient(90deg, rgba(2,0,36,0.8071603641456583) 0%, rgba(0,0,5,1) 41%, rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000000",GradientType=1);
            .info-title{
                font-size: $font-size-h6 * 2;
                font-weight: $font-weight-heavy;
                line-height: 30px;
                color: $theme-white;
                margin-bottom: 20px;
                padding-right: 65px;
            }
            .sec-title{
                font-size: $font-size-h1;
                color: $theme-success;
                font-weight: $font-weight-heavy;
                margin-bottom: 15px;
                line-height: 20px;
            }
            .game-desc{
                font-size: $font-size-h6;
                color: $theme-white;
                line-height: 20px;
            }
        }
        .btn-box{
            position: absolute;
            right: 0px;
            bottom: 0px;
            padding: 12px;
        }
    }
    @media(max-width: 1366px){
        .games-info-box .text-info{
            width: 335px;
        }
    }
    @media(max-width:1024px){
        .games-info-box {
            padding-bottom: 150px;
            .slider-img{
                width: 100%;
            }
            .text-info{
                bottom: 0;
                top: auto;
                min-height: 150px;
                max-height: 150px;
                width: 100%;
                .game-desc{
                    display: none;
                }
            }
        }
    }
    @media(max-width: 767px){
        .games-slider-wrapper .owl-dots{
            bottom: 2px;
            left: 0;
            right: 0;
            margin: auto;
            justify-content: center;
            .owl-dot{
                span{
                    height: 10px;
                    width: 10px;
                }
            } 
        } 
        .games-info-box{
            padding-bottom: 140px;
            .text-info{
                padding: 12px 12px 60px;
                min-height: 140px;
                max-height: 140px;
                .info-title{
                    font-size: $font-size-h4;
                    margin-bottom: 8px;
                    text-align: center;
                    padding-right: 0px;
                    line-height: 20px;
                    margin-bottom: 3px;
                }
                .sec-title{
                    font-size: $font-size-h6;
                    text-align: center;
                }
                .btn-box{
                    width: 100%;
                    text-align: center;
                    bottom: 14px;
                }
            }
        } 
    }
}

// bottom: 0;
//     top: auto;
//     min-height: 220px;
//     max-height: 220px;
//     width: 100%;