
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import "sass-styling-vars";

%d-flex{
  display: -webkit-box;     
  display: -moz-box;        
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex; 
}
%flex-1{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -webkit-flex: 1; 
  -ms-flex: 1;
  flex: 1;
}
%ver-center{
    @extend %d-flex;
    align-items: center;
}
.video-tabs{
    font-family: $font-family-default;
    
    img{
        max-width: 100%;
    }
    p{
        color: $theme-dark;
    }
    .app-container{
        max-width: 925px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .main-title{
        font-size: $font-size-h4 * 2 + 2;
        color: $theme-dark;
        margin-bottom: 15px;
        font-weight: $font-weight-heavy;
    }
    .video-play-box{
        border: 1px solid $theme-border-color;
        background-color: lighten($theme-secondary, 50%);
        border-radius: $theme-border-radius;
        overflow: hidden;
    }
    .header-box{
        padding: 24px;
    }
    .video-play-list-box{
        background-color: $theme-white;
        padding: 24px;
        @extend %d-flex;
        .tab-content{
            border: 1px solid $theme-border-color;
            @extend %flex-1;
        }

        .video-nav-list{
            width: 350px;
            padding-left: 14px;
            .list-header{
                @extend %d-flex;
                justify-content: space-between;
                font-size: $font-size-default;
            }
            ul{
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                li{
                    padding: 6px;
                    margin-top: 10px;
                    margin-right: 10px;
                    border-radius: $theme-border-radius;
                    a{
                        text-decoration: none;
                        color: $theme-dark;
                    }
                    &.active{
                        border: 2px solid $theme-primary;
                    }
                };
            }
            .video-thumb{
                @extend %d-flex;
                align-items: flex-start;
                .video-img{
                    width: 85px;
                    .img-box{
                        width: 100%;
                        height: 75px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        border-radius: $theme-border-radius;
                    }
                }
                .video-details{
                    @extend %flex-1;
                    padding-left: 10px;
                    .title{
                        font-weight: $font-weight-heavy;
                        font-size: $font-size-default;
                        color: $theme-dark;
                        line-height: 14px;
                        margin-bottom: 5px;
                    }
                    .name{
                        font-size: $font-size-default - 1;
                        color: $theme-dark;
                        margin-bottom: 5px;
                    }   
                    .time{
                        font-size: $font-size-default - 1;
                        color: $theme-dark;
                        margin-bottom: 0px;
                    }
                }
            }
            .content-wrapper{
                max-height: 345px;
                overflow: auto;
            }
        }
    }
    .video-wrapper{
        position: relative;
        width: 100%;
        .vido-inner-wrapper{
            background-color: $theme-secondary;
            position: relative;
            padding-top: 56.55%;
            overflow: hidden;
            .list-video{
                position: absolute;
                margin: 0px;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;            }
        }
        .video-info{
            @extend %d-flex;
            padding: 15px 10px 0px 18px;
            .title{
                font-weight: $font-weight-heavy;
            }
            .left-box{
                @extend %flex-1;
            }
            .action-box{
                width: 175px;
                text-align: center;
                button{
                    background-color: transparent;
                    background-image: none;
                    border: none;
                    box-shadow: none;
                    padding: 10px 5px;
                    font-size: $font-size-default - 1;
                    &:hover, &:focus, &.active{
                        color: $theme-primary;
                        outline: none;
                    }
                    i{
                        margin: 0 6px;
                    }
                }
            }
        }
    }
    @media (max-width: 991px) {

         .header-box,.video-play-list-box {
            padding: 15px;
        }
        
        .main-title{
            font-size: $font-size-h1;
            line-height: 25px;
        }
        .video-play-list-box{
            flex-wrap: wrap;
            .tab-content, .video-nav-list{
                min-width: 100%;
            }
            .tab-content{
                margin-bottom: 15px;
            }
            .video-nav-list{
                padding-left: 0px;
            }
        }
    }
    @media (max-width: 450px) {
        .video-wrapper {
            .video-info{
                flex-wrap: wrap;
                .left-box{
                    min-width: 100%;
                    margin-bottom: 10px;
                }
                .action-box{
                    width: auto;
                    margin: 0 auto;
                }
            }
        }
    }

}