@import 'sass-styling-vars';

.toplist-variation-31 {
    .d-none {
        display: none !important;
    }
    .filter-section {
        padding-top: 5px;
        .row {
            margin-bottom: 8px;
        }
        #casino-nav {
            font-weight: $font-weight-medium;
            list-style: none;
            margin: 8px 0 0 0;
            padding: 0 15px 0 0;
            .nav-item.dropdown {
                margin: 0;
                .dropdown-toggle {
                    color: $theme-primary;
                    font-size: $font-size-default + 3;
                    padding: 8px 4px 8px 16px;
                    white-space: nowrap;
                    &:after {
                        border-bottom: 0;
                        border-left: 5px solid transparent;
                        border-top: 5px solid;
                        border-right: 5px solid transparent;
                        content: "";
                        display: inline-block;
                        margin-left: 4px;
                        vertical-align: 4px;
                    }
                }
                .dropdown-menu {
                    .dropdown-item {
                        background-color: transparent;
                        border: 0;
                        clear: both;
                        color: $theme-body-font-color;
                        display: block;
                        font-size: $font-size-default + 3;
                        font-weight: $font-weight-medium;
                        padding: 4px 24px;
                        text-align: inherit;
                        text-decoration: none;
                        white-space: nowrap;
                        width: 100%;
                        &:hover {
                            color: $theme-primary;
                        }
                    }
                }
            }
        }
        #searchformfilter {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            @media only screen and (min-width: 992px) {
                margin-bottom: 0 !important;
                margin-top: 0 !important;
            }
            .input-group {
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                width: 100%;
                .screen-reader-text {
                    border: 0;
                    clip: rect(0,0,0,0);
                    height: 1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                    white-space: nowrap;
                    @media only screen and (min-width: 480px) {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 0;
                    }
                }
                .form-control {
                    background-color: $theme-light;
                    border: none;
                    border-radius: 30px;
                    font-size: $font-size-default - 1;
                    height: 42px;
                    padding: 12px 48px 12px 16px;
                    z-index: 1;
                    &:focus {
                        background-color: $theme-white;
                        border-color: $theme-primary;
                        -webkit-box-shadow: 0 0 0 3.2px $theme-primary;
                        box-shadow: 0 0 0 3.2px $theme-primary;
                        color: $theme-dark;
                        outline: 0;
                    }
                }
                .btn-default {
                    background-color: $theme-primary;
                    border: none;
                    border-radius: 30px;
                    color: $theme-white;
                    font-weight: $font-weight-heavy;
                    height: auto;
                    letter-spacing: 1px;
                    opacity: 0.9;
                    padding: 9px 15px;
                    position: absolute;
                    right: 5px;
                    text-transform: uppercase;
                    top: 5px;
                    z-index: 1;
                    &:hover {
                        opacity: 1;
                    }
                    .search-icon {
                        background-image: url('./img/search.svg');
                        background-repeat: no-repeat;
                        background-size: 14.5px !important;
                        display: block;
                        height: 14.5px;
                        text-indent: -9999px;
                        width: 14.5px;
                    }
                }
            }
        }
    }
    .cards-section {
        background: $theme-light;
        border-bottom: 1px solid $theme-light;
        border-top: 1px solid $theme-light;
        -webkit-box-shadow: inset 0 0 16px 4px rgb(0 0 0 / 20%);
        box-shadow: inset 0 0 16px 4px rgb(0 0 0 / 20%);
        margin-bottom: 24px;
        padding-top: 24px;
        position: relative;
        .cards-row {
            display: flex;
            flex-wrap: wrap;
            .cards-col {
                margin-bottom: 24px;
                .card {
                    background: $theme-primary;
                    border-radius: 4px;
                    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    padding-top: 8px;
                    position: relative;
                    word-wrap: break-word;
                    .ribbon {
                        height: 75px;
                        left: -5px;
                        overflow: hidden;
                        position: absolute;
                        text-align: right;
                        top: -5px;
                        width: 75px;
                        z-index: 2;
                        span {
                            background: $theme-success;
                            background: -webkit-gradient(linear,left top,left bottom,from($theme-success),to($theme-success));
                            background: -webkit-linear-gradient($theme-success,$theme-success);
                            background: -o-linear-gradient($theme-success 0,$theme-success 100%);
                            background: linear-gradient($theme-success,$theme-success);
                            -webkit-box-shadow: 0 3px 10px -5px $theme-body-font-color;
                            box-shadow: 0 3px 10px -5px $theme-body-font-color;
                            color: $theme-dark;
                            display: block;
                            font-size: $font-size-default - 3;
                            font-weight: $font-weight-heavy;
                            left: -21px;
                            line-height: 20px;
                            position: absolute;
                            text-align: center;
                            text-transform: uppercase;
                            top: 19px;
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            width: 100px;
                            &:before, &:after {
                                border-style: solid;
                                border-width: 3px;
                                content: "";
                                position: absolute;
                                top: 100%;
                                z-index: -1;
                            }
                            &:before {
                                border-color: $theme-success transparent transparent $theme-success;
                                left: 0;
                            }
                            &:after {
                                border-color: $theme-success $theme-success transparent transparent;
                                right: 0;
                            }
                        }
                    }
                    .ribbon-top-right {
                        background-color: $theme-body-font-color;
                        height: 25px;
                        position: absolute;
                        right: 21px;
                        top: 0;
                        width: 40px;
                        z-index: 2;
                        &:before {
                            border-left: 20px solid $theme-body-font-color;
                            border-right: 20px solid $theme-body-font-color;
                            border-bottom: 20px solid transparent;
                            bottom: -20px;
                            content: "";
                            left: 0;
                            position: absolute;
                            z-index: 2;
                        }
                        span {
                            color: $theme-white;
                            display: block;
                            font-size: $font-size-default + 3;
                            font-weight: $font-weight-heavy;
                            margin-bottom: 24px;
                            text-align: center;
                            width: 100%;
                        }
                    }
                    &>a {
                        text-align: center;
                    }
                    .rounded-circle {
                        border-radius: 50%;
                    }
                    .card-body {
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        padding: 8px 20px;
                        .h5 {
                            font-size: $font-size-default + 3;
                            margin: 0 !important;
                        }
                        .h6 {
                            margin-bottom: 8px;
                            margin-top: 8px;
                        }
                        .text-white {
                            color: $theme-white;
                        }
                        .text-light {
                            color: $theme-light;
                        }
                        .d-block {
                            display: block !important;
                        }
                        .d-flex {
                            display: flex !important;
                        }
                        .ml-auto {
                            margin-left: auto !important;
                        }
                        .small, small {
                            font-size: $font-size-default - 1;
                            line-height: 14px;
                        }
                        .font-weight-bold {
                            font-weight: $font-weight-heavy;
                        }
                        .text-uppercase {
                            text-transform: uppercase;
                        }
                        .casinos-rating {
                            font-size: $font-size-default - 1;
                            line-height: 14px;
                            margin-top: 4px;
                            padding-bottom: 8px;
                            .star-ch {
                                color: $theme-warning;
                                margin-left: 4px;
                                margin-right: 16px;
                            }
                        }
                        .icon {
                            background-repeat: no-repeat;
                            background-size: 14.5px !important;
                            display: inline-block;
                            height: 14.5px;
                            text-indent: -9999px;
                            width: 14.5px;
                            &.payment {
                                background-image: url('./img/software.svg');
                            }
                            &.software {
                                background-image: url('./img/payment.svg');
                                margin-left: 8px;
                            }
                            &.info {
                                background-image: url('./img/info.svg');
                                margin-left: 8px;
                            }
                        }
                        .card-offer-text {
                            color: $theme-white;
                            height: 14px;
                            margin-bottom: 4px;
                            overflow: hidden;
                        }
                    }
                    .btn-play {
                        background: $theme-warning;
                        color: $theme-dark;
                        display: block;
                        font-weight: $font-weight-heavy;
                        margin-bottom: 4px;
                        margin-top: 8px;
                        text-align: center;
                        text-decoration: none;
                        width: 100%;
                        &:hover {
                            background: $theme-warning;
                        }
                    }
                }
                .card-terms-section {
                    .terms-link {
                        color: $theme-dark;
                        font-size: $font-size-default - 1;
                        font-weight: $font-weight-medium;
                        line-height: 20px;
                        text-align: center;
                        a {
                            color: $theme-primary;
                            display: block;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .btn-primary {
            background-color: $theme-primary;
            background-image: none;
            border: 0;
            border-color: $theme-primary;
            border-radius: 32px;
            box-shadow: none;
            color: $theme-white;
            font-size: $font-size-default - 1;
            font-weight: $font-weight-heavy;
            letter-spacing: 1px;
            line-height: 15px;
            margin-bottom: 24px;
            opacity: 0.9;
            outline: 0;
            padding: 12px 16px;
            text-transform: uppercase;
            width: 100%;
            &:hover {
                opacity: 1;
            }
        }
    }
}
