.toplist-variation-07 {
  float: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 12px;
  width: 100%;
  margin: 30px auto;
  max-width: 842px;
}

.toplist-variation-07 .toplist-container .heading {
  display: block;
  margin-bottom: 12px;
  font-size: 28px;
  line-height: 1.5em;
}

@media only screen and (max-width: 480px) {
  .toplist-variation-07 .toplist-container .heading {
    font-size: 20px;
    line-height: 1.3em;
  }
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item {
  width: 31%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  .toplist-variation-07 .toplist-container .toplist-wrapper .list .item {
    width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  .toplist-variation-07 .toplist-container .toplist-wrapper .list .item {
    width: 100%;
  }
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  min-height: 135px;
  border: 3px solid #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .image_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .image_container a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .image_container .rating {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em;
  color: #6c757d;
  margin-top: 12px;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .image_container .rating i {
  color: #ffc107;
  font-size: 20px;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container {
  background-color: #e5e5e5;
  min-height: 244px;
}

@media only screen and (max-width: 768px) {
  .toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container {
    min-height: auto;
  }
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container .text-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container .text-section .text {
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 24px;
  color: #6c757d;
}

@media only screen and (max-width: 480px) {
  .toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container .text-section .text {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 1.3em;
  }
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container .text-section .text:first-child {
  min-height: 125px;
  padding: 10px 12px;
  font-size: 16px;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container .text-section .rev-link {
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  margin-bottom: -15px;
  text-decoration: underline;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container .btn {
  margin: 5px auto;
  display: block;
}

.toplist-variation-07 .toplist-container .toplist-wrapper .list .item .text_container .btn:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.toplist-variation-07 img {
  max-width: 100%;
  border: none;
  text-decoration: none;
  -o-object-fit: contain;
     object-fit: contain;
}

.toplist-variation-07 p {
  margin: 0 0 13px;
  font-size: 13px;
  line-height: 1.46em;
}

.toplist-variation-07 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toplist-variation-07 ul li {
  margin: 0;
}
