@import 'sass-styling-vars';

.toplist-variation-24 {
    margin: 0 auto;
    max-width: 763px; /* for demo purposes. can be removed */
    padding: 10px 15px;
    @media only screen and (min-width: 768px) {
        padding: 10px 0;
    }
    .header {
        background-color: $theme-primary;
        border-radius: $theme-border-radius $theme-border-radius 0 0;
        padding: 20px 30px;
        text-align: center;
        .header-title {
            color: $theme-white;
            font-size: $font-size-default + 5;
        }
    }
    .card {
        background: $theme-light;
        border: 1px solid $theme-border-color;
        padding: 15px 10px 10px;
        @media only screen and (min-width: 768px) {
            padding: 15px 30px 30px;
        }
        .card-tabs {
            display: flex;
            .btn-primary {
                background-color: transparent;
                border: 0;
                border-radius: $theme-border-radius;
                color: #8292b6;
                font-size: $font-size-default - 2;
                margin-right: 5px;
                padding: 8px 15px;
                &.active {
                    background: $theme-primary;
                    border: 0;
                    border-radius: $theme-border-radius;
                    box-sizing: border-box;
                    color: $theme-white;
                    margin-right: 5px;
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    padding: 8px 15px;
                }
                &:focus, &:active {
                    outline: 2px dashed $theme-primary;
                }
            }
        }
        .card-content {
            background-color: $theme-white;
            border: 1px solid $theme-border-color;
            margin-top: 15px;
            padding: 30px;
            width: 100%;
            .card-content-tab {
                display: none;
                opacity: 0;
                transition: opacity 0.5s linear;
                &.active {
                    display: block;
                    opacity: 1;
                }
                .card-content-list {
                    border-bottom: 1px solid $theme-border-color;
                    column-count: 1;
                    list-style: none;
                    margin-left: 10px;
                    padding-bottom: 20px;
                    @media only screen and (min-width: 480px) {
                        column-count: 2;
                    }
                    @media only screen and (min-width: 768px) {
                        column-count: 3;
                    }
                    li {
                        margin-bottom: 5px;
                        margin-left: -25px;
                        max-width: 186px;
                        .card-content-link {
                            color: $theme-dark;
                            font-size: $font-size-default - 1;
                            position: relative;
                            &:before {
                                background-color: $theme-dark;
                                border-radius: 50%;
                                content: '';
                                left: -14px;
                                height: 6px;
                                position: absolute;
                                top: 4px; 
                                width: 6px;
                            }
                            &:active {
                                outline: 2px dashed $theme-primary;
                                outline-offset: 2px;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
                .card-heading {
                    color: $theme-primary;
                    display: block;
                    font-size: $font-size-default + 9;
                    margin-bottom: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
}