@import "sass-styling-vars";

.toplist-variation-08 {
    float: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    background-color: $theme-light;
    .container {
        max-width: 1200px;
        padding: 0 35px;
        @media only screen and (max-width : 992px) {
            padding: 0 15px;
        }
        @media only screen and (max-width : 480px) {
            padding: 0 15px;
        }
        .title {
            font-size: $font-size-default + 12;
            line-height: 1em;
            font-weight: $font-weight-regular;
            color: $theme-danger;
            margin-top: 0;
        }
        .text {
            margin-bottom: 0;
        }
        .table-container {
            .showrating {
                font-size: $font-size-default + 6;
                line-height: 1.158em;
                font-weight: $font-weight-regular;
                color: $theme-danger;
                @media only screen and (max-width : 480px) {
                    font-size: $font-size-default + 4;
                    line-height: 1.176em;
                }
                i {
                    font-size: $font-size-default + 5;
                    color: $theme-warning;
                    &:not(:first-child) {
                        margin-left: -5px;
                    }
                }
            }
            .table-wrapper {
                .casino-table {
                    display: flex;
                    flex-direction: column;
                    .tbl-row {
                        display: flex;
                        flex-wrap: nowrap;
                        // &:nth-child(odd) {
                        //     .tbl-cell {
                        //         background-color: #f9f9f9;
                        //     }
                        // }
                        .head-cell {
                            padding: 8px;
                            color: $theme-white;
                            background-color: $theme-dark;
                            font-weight: $font-weight-bold;
                            text-align: center;
                            font-size: $font-size-default + 3;
                            line-height: 1.375em;
                            border-bottom: $theme-border;
                            width: 20%;
                            &:first-child {
                                width: 10%;
                            }
                            &:nth-child(3){
                                width: 30%;
                            }
                            @media only screen and (max-width : 767px) {
                                &:nth-child(2) {
                                    width: 40%;
                                }
                                &:nth-child(3) {
                                    width: 60%;
                                }           
                            }
                        }
                        .tbl-cell {
                            padding: 8px;
                            border-bottom: $theme-border;
                            background-color: $theme-white;
                            color: $theme-dark;
                            width: 20%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            &:first-child {
                                width: 10%;
                            }
                            &:nth-child(3){
                                width: 30%;
                                text-align: center;
                            }
                            @media only screen and (max-width : 767px) {
                                &:nth-child(2) {
                                    width: 40%;
                                }
                                &:nth-child(3) {
                                    width: 60%;
                                }           
                            }
                            &.bonus {
                                font-size: $font-size-default + 4;
                                line-height: 1.3em;
                            }
                            .icon-btn {
                                background-color: $theme-info;
                                color: $theme-white;
                                margin-top: 5px;
                                width: 50px;
                                height: 50px;
                                font-size: $font-size-default + 12;
                                line-height: 2em;
                                transition: transform ease-in-out .2s;
                                text-align: center;
                                &:hover, &:focus{
                                    transform: scale(1.2);
                                }
                                &.first-item {
                                    background-color: $theme-danger;
                                }
                            }
                            .rating {
                                font-size: $font-size-default + 6;
                                line-height: 1.158em;
                                i {
                                    color: $theme-warning;
                                    &:not(:first-child) {
                                        margin-left: -2px;
                                    }
                                }
                                &.small {
                                    font-size: $font-size-default + 5;
                                    i:not(:first-child) {
                                        margin-left: -5px;
                                    }
                                }
                            }
                            .review-link {
                                font-size: $font-size-default + 3;
                                line-height: 1.375em;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    img {
        max-width: 100%;
        border: none;
        height: auto;
        text-decoration: none;
        object-fit: contain;
    }
    p {
        margin: 15px 0;
        font-size: $font-size-default + 3;
        line-height: 1.375em;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0;
        }
    }
    a {
        text-decoration: none;
    }
}