@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
.toplist-variation-27 .app-tbl-flex .app-tbl, .toplist-variation-27 .app-tbl-flex .tbl-row, .toplist-variation-27 .app-tbl-flex .tbl-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toplist-variation-27 .app-tbl-flex .tbl-row .tbl-cell {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -ms-flex: 1;
  flex: 1;
}

.toplist-variation-27 {
  font-family: "Montserrat", sans-serif;
}

.toplist-variation-27 a {
  text-decoration: none;
  color: #0d6efd;
}

.toplist-variation-27 p {
  font-size: 16px;
  color: #212529;
  margin-bottom: 15px;
}

.toplist-variation-27 img {
  max-width: 100%;
}

.toplist-variation-27 .app-container {
  max-width: 918px;
  margin: 0 auto;
  padding: 0 15px;
}

.toplist-variation-27 .main-title {
  font-size: 23px;
  color: #212529;
  margin-bottom: 34px;
  font-weight: 700;
}

.toplist-variation-27 .sec-title {
  font-size: 20px;
  color: #212529;
  margin-bottom: 24px;
  font-weight: 700;
}

.toplist-variation-27 .app-tbl-flex .app-tbl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toplist-variation-27 .app-tbl-flex .tbl-cell {
  font-size: 16px;
  padding: 13px 5px;
  min-height: 48px;
}

.toplist-variation-27 .app-tbl-flex .head-cell {
  background-color: #212529;
  color: #ffffff;
  font-weight: 700;
}

.toplist-variation-27 .app-tbl-flex .tbl-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toplist-variation-27 .app-tbl-flex .tbl-content .tbl-row:nth-child(even) {
  background-color: #e6e7e9;
}

@media (max-width: 767px) {
  .toplist-variation-27 .app-tbl-flex .app-tbl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .toplist-variation-27 .app-tbl-flex .tbl-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .toplist-variation-27 .app-tbl-flex .tbl-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .toplist-variation-27 .app-tbl-flex .tbl-row .head-cell {
    width: auto;
  }
  .toplist-variation-27 .app-tbl-flex .tbl-cell {
    padding: 13px 8px;
    white-space: nowrap;
    font-size: 14px;
  }
  .toplist-variation-27 .app-tbl-flex .tbl-header {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }
}

.toplist-variation-27 .best-slots-tbl {
  margin-bottom: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.toplist-variation-27 .best-slots-tbl .tbl-cell {
  text-align: center;
}

.toplist-variation-27 .best-slots-tbl .tbl-cell:nth-child(1), .toplist-variation-27 .best-slots-tbl .tbl-cell:nth-child(4) {
  font-weight: 700;
}

.toplist-variation-27 .banner-img {
  margin-top: 10px;
}
/*# sourceMappingURL=toplist-variation-27.css.map */