
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import "sass-styling-vars";

%d-flex{
  display: -webkit-box;     
  display: -moz-box;        
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex; 
}
%flex-1{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -webkit-flex: 1; 
  -ms-flex: 1;
  flex: 1;
}
%flex-full-center{
    align-items: center;
    justify-content: center;
}

.toplist-variation-11 {
    font-family: $font-family-default;
    a{
        text-decoration: none;
        color: $theme-primary;
    }
    p{
        font-size: $font-size-h6;
        line-height: 26px;
        color: $theme-dark;
        margin-bottom: 15px;
    }
    img{
        max-width: 100%;
    }
    .app-container{
        max-width: 1230px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .inner-container{
        background-color: lighten($theme-secondary , 50%);
        padding: 15px 25px;
    }
    .main-title{
        font-size: $font-size-h6 * 2;
        color: $theme-dark;
        margin-bottom: 15px;
        font-weight: $font-weight-heavy;
    }
    .app-tbl-flex{
        .app-tbl{
            @extend %d-flex;
            flex-direction: column;
            min-width: min-content;
            margin-bottom: 22px;
        }
        .tbl-row{
            position: relative;
            @extend %d-flex;
            .tbl-cell{
                @extend %flex-1;
            }
        }
        .tbl-cell{
            font-size: $font-size-default - 1;
            padding: 4px 6px;
            color: $theme-dark;
            text-align: center;
        }
        .head-cell{
            background-color: $theme-dark;
            background-color: lighten($theme-secondary, 45%);
           
        }
        .tbl-content{
            @extend %d-flex;
            flex-direction: column;
            .tbl-row{
                &:nth-child(even){
                    background-color: lighten($theme-secondary, 45%);
                }
            }
        }
        .tbl-icon-dice{
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2266.459px%22%20height%3D%2266.46px%22%20viewBox%3D%220%200%2066.459%2066.46%22%20style%3D%22enable-background%3Anew%200%200%2066.459%2066.46%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20d%3D%22M65.542%2C11.777L33.467%2C0.037c-0.133-0.049-0.283-0.049-0.42%2C0L0.916%2C11.748c-0.242%2C0.088-0.402%2C0.32-0.402%2C0.576%20%20%20l0.09%2C40.484c0%2C0.25%2C0.152%2C0.475%2C0.385%2C0.566l31.047%2C12.399v0.072c0%2C0.203%2C0.102%2C0.393%2C0.27%2C0.508%20%20%20c0.168%2C0.111%2C0.379%2C0.135%2C0.57%2C0.062l0.385-0.154l0.385%2C0.154c0.072%2C0.028%2C0.15%2C0.045%2C0.227%2C0.045c0.121%2C0%2C0.24-0.037%2C0.344-0.105%20%20%20c0.168-0.115%2C0.27-0.305%2C0.27-0.508v-0.072l31.047-12.399c0.232-0.093%2C0.385-0.316%2C0.385-0.568l0.027-40.453%20%20%20C65.943%2C12.095%2C65.784%2C11.867%2C65.542%2C11.777z%20M32.035%2C63.134L3.052%2C51.562V15.013l28.982%2C11.572L32.035%2C63.134L32.035%2C63.134z%20%20%20%20M33.259%2C24.439L4.783%2C13.066l28.48-10.498l28.735%2C10.394L33.259%2C24.439z%20M63.465%2C51.562L34.484%2C63.134V26.585l28.981-11.572%20%20%20V51.562z%20M14.478%2C38.021c0-1.692%2C1.35-2.528%2C3.016-1.867c1.665%2C0.663%2C3.016%2C2.573%2C3.016%2C4.269%20%20%20c-0.001%2C1.692-1.351%2C2.529-3.017%2C1.867C15.827%2C41.626%2C14.477%2C39.714%2C14.478%2C38.021z%20M5.998%2C25.375c0-1.693%2C1.351-2.529%2C3.017-1.866%20%20%20c1.666%2C0.662%2C3.016%2C2.572%2C3.016%2C4.267c0%2C1.695-1.351%2C2.529-3.017%2C1.867C7.347%2C28.979%2C5.998%2C27.069%2C5.998%2C25.375z%20M22.959%2C32.124%20%20%20c0-1.694%2C1.351-2.53%2C3.017-1.867c1.666%2C0.663%2C3.016%2C2.573%2C3.016%2C4.267c0%2C1.695-1.352%2C2.53-3.017%2C1.867%20%20%20C24.309%2C35.728%2C22.959%2C33.818%2C22.959%2C32.124z%20M5.995%2C43.103c0.001-1.692%2C1.351-2.529%2C3.017-1.867%20%20%20c1.666%2C0.664%2C3.016%2C2.573%2C3.016%2C4.269c0%2C1.694-1.351%2C2.53-3.017%2C1.867C7.344%2C46.709%2C5.995%2C44.797%2C5.995%2C43.103z%20M22.957%2C49.853%20%20%20c0.001-1.695%2C1.351-2.529%2C3.017-1.867s3.016%2C2.572%2C3.016%2C4.269c0%2C1.692-1.351%2C2.528-3.017%2C1.866%20%20%20C24.306%2C53.458%2C22.957%2C51.546%2C22.957%2C49.853z%20M27.81%2C12.711c-0.766%2C1.228-3.209%2C2.087-5.462%2C1.917%20%20%20c-2.253-0.169-3.46-1.301-2.695-2.528c0.765-1.227%2C3.207-2.085%2C5.461-1.916C27.365%2C10.352%2C28.573%2C11.484%2C27.81%2C12.711z%20%20%20%20M43.928%2C13.921c-0.764%2C1.229-3.208%2C2.086-5.46%2C1.917c-2.255-0.169-3.46-1.302-2.696-2.528c0.764-1.229%2C3.209-2.086%2C5.462-1.918%20%20%20C43.485%2C11.563%2C44.693%2C12.695%2C43.928%2C13.921z%20M47.04%2C42.328c-1.041-1.278-0.764-3.705%2C0.619-5.421%20%20%20c1.381-1.716%2C3.344-2.069%2C4.381-0.792c1.041%2C1.276%2C0.764%2C3.704-0.617%2C5.42S48.079%2C43.604%2C47.04%2C42.328z%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
            background-repeat: no-repeat;
        }
        &.best-casinos-tbl{
            

            .index-col{
                min-width: 24px;
                max-width: 24px;
                padding-left: 0px;
                padding-right: 0px;
            }
            .logo-col{
                min-width: 170px;
            }
            .bonus-col{
                min-width: 174px;
            }
            .info-count-col{
                @extend %flex-1;
            }
            .rating-col{
                min-width: 96px;
            }
            .action-col{
                min-width: 174px;
            }

            .tbl-content{
                .tbl-row{
                    border: $theme-border;
                    background-color: $theme-white;
                    & + .tbl-row{
                        margin-top: 12px;
                    }
                } 
                

                .index-col{
                    @extend %d-flex;
                    @extend %flex-full-center;
                    background-color: darken($theme-primary, 30%);
                    color: $theme-white;
                    font-size: $font-size-md;
                    a{
                        @extend %d-flex;
                        @extend %flex-full-center;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        color: $theme-white;
                    }
                } 
                .logo-col{
                    @extend %d-flex;
                    @extend %flex-full-center;
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                }
                .bonus-col{
                    @extend %d-flex;
                    @extend %flex-full-center;
                    flex-direction: column;
                    text-align: center;
                    .title-text{
                        font-size: $font-size-sm;
                    }
                    .amount{
                        font-size: $font-size-default * 2;
                        font-weight: $font-weight-heavy;
                        margin-bottom: 0;
                        line-height: 26px;
                    }
                    .info{
                        font-size: $font-size-sm;
                        font-weight: $font-weight-heavy;
                        line-height: 15px;
                        margin-bottom: 0px;
                    }
                }
                .info-count-col{
                    @extend %d-flex;
                    @extend %flex-full-center;
                    svg{
                        height: 30px;
                        margin-right: 5px;
                    }
                    span{
                        font-size: $font-size-h4;
                        font-weight: $font-weight-heavy;
                    }
                }
                .rating-col{
                    @extend %d-flex;
                    @extend %flex-full-center;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .star-rating{
                        border: $theme-border;
                        padding: 0 5px 8px;
                    }
                    .title-text{
                        font-size: $font-size-h3 * 2;
                        line-height: 50px;
                        margin-bottom: 0px;
                    }
                    .stars-box{
                        i{
                            color: $theme-warning;
                            font-size: $font-size-h3;
                        }
                    }
                }
                .action-col{
                    @extend %d-flex;
                    @extend %flex-full-center;
                    .btn{
                        margin-bottom: 5px;
                        svg{
                            height: 18px;
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                        span{
                            vertical-align: middle;
                        }
                    }
                    .site-name{
                        font-size: $font-size-sm;
                        color: $theme-dark;
                    }
                }
            }
        }
    }
    @media(max-width: 991px){
        .main-title{
            font-size: $font-size-h2;
        }
        .app-container{
            padding: 0 10px;
        }
        .inner-container{
            padding: 15px 10px;
        }
        .app-tbl-flex{
            &.best-casinos-tbl{
                .logo-col{
                    min-width: 125px;
                    a{
                        background-size: 100% ;
                    }
                }
                .bonus-col{
                    min-width: 125px;
                }
                .rating-col {
                    min-width: 72px;
                }
                .action-col{
                    min-width: 150px;
                }

                .tbl-content{
                    .bonus-col{
                        .amount{
                            font-size: $font-size-h2;
                            line-height: $font-size-h2;
                        }
                    }
                    .info-count-col{
                        svg{
                            height: 22px;
                        }
                        span{
                            font-size: $font-size-sm;
                        }
                    }
                    .rating-col{
                        .title-text{
                            font-size: $font-size-h1;
                            line-height: 30px;
                        }
                        .stars-box{
                            i{
                                font-size: $font-size-default - 1;
                            }
                            i:not(:first-child){
                                display: none;
                            }
                        }
                    }
                } 
            } 
        }
    }
    @media(max-width: 767px){
        .table-responsive{
            border: none;
            margin-bottom: 0px;
        }
        .app-tbl-flex{
            &.best-casinos-tbl{
                .tbl-row{
                    padding: 32px 5px 5px;
                    flex-wrap: wrap;
                }
                .tbl-header{
                    display: none;
                }
                .tbl-content{
                    .index-col{
                        position: absolute;
                        background: transparent;
                        color: $theme-dark;
                        font-weight: $font-weight-heavy;
                        left: 0;
                        top: 0;
                        a{
                            color: $theme-dark;
                        }
                    }
                    .rating-col{
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: transparent;
                        padding: 0px;
                        background-color: darken($theme-primary, 30%);
                        min-width: auto;
                        width: auto;
                        border-bottom-left-radius: 52px;
                        padding-top: 7px;
                        padding-left: 13px;
                        padding-right: 6px;
                        padding-bottom: 2px;
                        .star-rating{
                            border: none;
                            padding: 0;
                            .title-text{
                                color: $theme-white;
                                font-size: $font-size-default - 1;
                                line-height: 4px;
                                margin-bottom: 0;
                            }
                            .stars-box i {
                                font-size: $font-size-default - 5;
                            }
                        }
                    }
                    .info-count-col, .logo-col, .bonus-col, .action-col{
                        min-width: 33.3333%;
                    }
                    .info-count-col{
                        order: 1;
                        background-color: lighten($theme-secondary, 45%);
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .logo-col{
                        a{
                            background-size: contain;
                        }
                    }
                    .action-col{
                        .site-name{
                            display: none;
                        }
                    }
                } 
            } 
        }
        
    }
    @media (max-width: 575px) {
        .app-tbl-flex{
            &.best-casinos-tbl{
               
                .tbl-content{
                    .action-col{
                        min-width: 100%;
                        a{
                            display: block;
                            min-width: 100%;
                        }
                    }
                } 
            } 
        }
    }
    
   
}