
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import "sass-styling-vars";

%d-flex{
  display: -webkit-box;     
  display: -moz-box;        
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex; 
}

%flex-1{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -webkit-flex: 1; 
  -ms-flex: 1;
  flex: 1;
}

%full-center{
    @extend %d-flex;
    align-items: center;
    justify-content: center;
}
%fa-font{
    font: normal normal normal $font-size-default+1/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.featured-item-variation-03{
    font-family: $font-family-default;
    img{
        max-width: 100%;
    }
    p{
        color: $theme-dark;
    }
    .app-container{
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .mobile-casino-section{
        padding: 15px;
        background-color: darken($theme-primary, 44%);
        color: $theme-white;
        @extend %d-flex;
        position: relative;
        .sec-header{
            font-size: $font-size-h4;
            font-weight: $font-weight-heavy;
            padding: 10px 15px;
            background-color: darken($theme-primary, 35%);
        }
        .left-box{
            min-width: 275px;
            text-align: center;
            overflow: hidden;
            .inner-wrapper{
                width: 100%;
            }
            .sec-header{
                position: relative;
            }
            .img-wrapper{
                background-color: darken($theme-primary, 40%);
                padding: 10px;
                margin-bottom: 20px;
                padding-top: 34px;
                padding-bottom: 16px;
                position: relative;
                img{
                    position: relative;
                    z-index: 1;
                }
                &:before,
                &:after{
                    content: "";
                    display: block;
                    height: 30px;
                    background-color: darken($theme-primary, 44%);
                    position: absolute;
                    width: 70%;
                    bottom: -25px;
                }
                &:before{
                    left: 50%;
                    transform-origin: left bottom;
                    transform: rotate( -5deg );
                }
                &:after{
                    right: 50%;
                    transform-origin: right bottom;
                    transform: rotate( 5deg );
                }
            }
            .sec-header{
                position: relative;
                z-index: 2;
                padding-bottom: 0px;
                span{
                    position: relative;
                    z-index: 1;
                }
                &:before,
                &:after{
                    content: "";
                    display: block;
                    height: 50px;
                    background-color: darken($theme-primary, 35%);
                    position: absolute;
                    width: 50%;
                    bottom: -25px;
                }
                &:before{
                    left: 50%;
                    transform-origin: left bottom;
                    transform: rotate( -5deg );
                }
                &:after{
                    right: 50%;
                    transform-origin: right bottom;
                    transform: rotate( 5deg );
                }

            }
            .big-title{
                font-size: $font-size-h5 * 2;
                color: $theme-white;
                font-weight: $font-weight-heavy;
                margin-bottom: 0;
                line-height: normal;
            }
            .btn{
                display: block;
                margin-top: 20px;
                background-image: none;
                font-size: $font-size-h3;
                color: $theme-white;
                padding-top: 0px;
                padding-bottom: 0px;
                height: 52px;
                line-height: 52px;
                border-radius: 0px;
                text-transform: uppercase;
                outline: none;
                box-shadow: none;
                border: none;
                background-color: lighten($theme-primary, 20%);
                margin-bottom: 5px;
                &:hover, &:focus{
                    background-color: darken(lighten($theme-primary, 20%) , 10%);
                }
            }
            .note-text{
                font-size: $font-size-default - 3;
                color: $theme-secondary;
            }
        }
        .center-box{
            @extend %flex-1;
            padding: 0 15px;
            .inner-wrapper{
                height: 100%;
                background-image: url(./img/banner-image.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left:  0px;
                    top: 0px;  
                    background: rgb(0,17,41);
                    background: -moz-linear-gradient(180deg, rgba(0,17,41,0) 59%, rgba(0,0,77,0.8715861344537815) 88%, rgba(0,17,41,1) 100%);
                    background: -webkit-linear-gradient(180deg, rgba(0,17,41,0) 59%, rgba(0,0,77,0.8715861344537815) 88%, rgba(0,17,41,1) 100%);
                    background: linear-gradient(180deg, rgba(0,17,41,0) 59%, rgba(0,0,77,0.8715861344537815) 88%, rgba(0,17,41,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001129",endColorstr="#001129",GradientType=1);             }
            }
        }
        .right-box{
            min-width: 305px;
            .sec-header{
                @extend %d-flex;
                align-items: center;
                font-size: $font-size-h6;
                .right-side{
                    margin-left: auto;
                    font-weight: $font-weight-bold;
                    @extend %d-flex;
                    align-items: center;
                    .span-star-rating{
                        margin-left: 5px;
                        width: 78px;
                        height: 20px;
                        border-radius: $theme-border-radius;
                        background-image: url('./img/star.svg');
                        background-repeat: space;
                        background-color: darken($theme-primary, 45%);
                        background-size: 14px;
                        background-position: center center;
                    }
                }
            }
            .mobile-casino-summary{
                li{
                    @extend %d-flex;
                    .text-lbl{
                        min-width: 112px;
                    }
                    .lbl-value{
                        a{
                            color: $theme-white;
                            text-decoration: underline;
                            &.green-txt{
                                color: lighten($theme-success, 15%);
                            }
                        }
                        &.payment-info{
                            i{
                                font-size: 20px;
                                margin-right: 3px;
                            }
                        }
                    }
                }
            }
            .btn-box{
                max-width: 320px;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                bottom: 18px;

                .btn{
                    padding-top: 0px;
                    padding-bottom: 0px;
                    height: 48px;
                    line-height: 48px;
                    font-size: $font-size-h3;
                    text-transform: uppercase;
                    border-radius: 0px;
                    color: $theme-white;    
                    background: rgb(26,222,131);
                    background: -moz-linear-gradient(180deg, rgba(26,222,131,1) 0%, rgba(0,121,65,1) 100%);
                    background: -webkit-linear-gradient(180deg, rgba(26,222,131,1) 0%, rgba(0,121,65,1) 100%);
                    background: linear-gradient(180deg, rgba(26,222,131,1) 0%, rgba(0,121,65,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1ade83",endColorstr="#007941",GradientType=1);
                    border: none;
                    outline: none;
                    box-shadow: none;
                    margin-bottom: 10px;
                    &:hover{
                        background: rgb(26,222,131);
                        background: -moz-linear-gradient(360deg, rgba(26,222,131,1) 0%, rgba(0,121,65,1) 100%);
                        background: -webkit-linear-gradient(360deg, rgba(26,222,131,1) 0%, rgba(0,121,65,1) 100%);
                        background: linear-gradient(360deg, rgba(26,222,131,1) 0%, rgba(0,121,65,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1ade83",endColorstr="#007941",GradientType=1);
                    }

                }
                .auth-text{
                    color: darken($theme-white, 25%);
                    
                    img{
                        margin-right: 10px;
                    }
                    span{
                        line-height: 20px;
                        line-height: normal;
                        font-style: italic;
                    }
                }
            }
        }
    }
    @media(max-width: 1199px){
        .mobile-casino-section{
            .center-box{
                display: none;
            }
            .right-box{
                padding-left: 15px;
                .btn-box{
                    position: static;
                    width: 100%;
                    max-width: none;
                }
                .mobile-casino-summary{
                    margin-top: 12px;
                    padding: 10px 15px;
                    margin-bottom: 12px;
                    background-color: darken($theme-primary, 20%);
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 50%;
                        padding-right: 20px;
                        flex-wrap: wrap;
                        .text-lbl,
                        .lbl-value{
                            width: 100%;
                        }
                        .text-lbl{
                            margin-bottom: 3px;
                        }
                    }
                }
            }
        } 
    }
    @media(max-width: 767px){
        .mobile-casino-section{
            flex-wrap: wrap;
            .left-box,
            .right-box{
                min-width: 100%;
            }
            .left-box{
                margin-bottom: 20px;
            }
            .right-box{
                padding-left: 0px;
            }

        } 
        .mobile-casino-section .right-box .btn-box .auth-text img{
            display: none;
        }
        .mobile-casino-section .right-box .sec-header{
            font-size: $font-size-default - 2;
        }
    }
    @media (max-width: 420px) {
        .mobile-casino-section .right-box .mobile-casino-summary li{
            width: 100%;
        }
        .app-container {
            padding: 0 5px;
        }
    }
}