@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Karla:400&display=swap');
@import "sass-styling-vars";
img{max-width: 100%;}
.toplist-variation-32{
    .col{
        padding-left: .6rem;
        padding-right: .6rem;
        float: left;
        width: 100%;
        
    }
    .toplist-variation-32-list{
        font-family: $font-family-default;
        border-radius: $theme-border-radius;
        overflow: hidden;
        background: $theme-toplist-bg;
        font-size: $font-size-default;
        padding: 1.2rem;
        height: 100%;
        box-shadow: $wrapper-box-shadow;
        text-align: center;
        min-height: 220px;
        margin-bottom: 10px;
        .toplist-variation-32-img{
            border-radius: .8rem .8rem 0 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 100%;
            .toplist-variation-32-img-overlay{
                border-radius: 50%;
                display: inline-block;
                overflow: hidden;
                position: relative;
                height: 90px;
                width: 90px;
                text-align: center;
                img{
                    height: 90px;
                    width: 90px;
                }
            }
        }
        .toplist-variation-32-card-name{
            text-align: center;
            display: inline-block;
            width: 100%;
            padding: 10px 0;
            a{
                font-size: $font-size-default;
                color: $theme-body-font-color;
                line-height: 125%;
            }
        }
        .toplist-variation-32-card-footer{
            .btn-link{
                margin: 5px 0;
                display: inline-block;
                width: 100%;
            }
        }
    }
}
.owl-theme .owl-nav [class*=owl-],.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: #fff;
    outline: none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 1px 1px rgb(0 0 0 / 10%), 0 2px 1px rgb(0 0 0 / 16%);
    opacity: 1;
    font-size: 25px;
}
.owl-carousel .owl-nav button.owl-next.disabled, .owl-carousel .owl-nav button.owl-prev.disabled{
    display: none;
}
.owl-carousel .owl-nav .owl-next {
    right: -1.1rem;
}
.owl-carousel .owl-nav .owl-prev {
    left: -1.1rem;
}